CONFIG_PASSWORD="password"
CONFIG_LABEL_DEFAULT_COUNT=300
CONFIG_LABEL_CURRENT_COUNT=300
CONFIG_LABEL_LOW_THRESHOLD=20
CONFIG_LABEL_TEMPLATE_PATH="template.svg"
CONFIG_AUDIO_LOW_TONE="/sfx/low_tone.mp3"
CONFIG_AUDIO_SUCCESS="/sfx/tone.mp3"